#nexpaq-header {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 44px;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 44px;
  color: #606060;
  font-family: Roboto, "Roboto Regular", Tahoma, sans-serif;
  text-align: right;
  background-color: white;
  -webkit-user-select: none;
  user-select: none; }
  body.platform-ios #nexpaq-header:not(.nxp-no-shadow) {
    border-color: #C8C7CC;
    border-style: solid;
    border-width: 0 0 0.5px 0; }
  body.platform-android #nexpaq-header {
    height: 55px;
    padding: 0 3vw;
    line-height: 55px;
    color: #606060;
    font-size: 15px;
    font-weight: 300; }
    body.platform-android #nexpaq-header:not(.nxp-no-shadow) {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12); }
  #nexpaq-header svg {
    width: auto; }
  #nexpaq-header, #nexpaq-header *, #nexpaq-header * * {
    box-sizing: border-box; }
  #nexpaq-header.nxp-hidden,
  #nexpaq-header .nxp-hidden {
    display: none; }
  #nexpaq-header button {
    padding: 0;
    margin: 0;
    background: none;
    border: 0;
    outline: none; }
  #nexpaq-header > h1 {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    font-size: 17px;
    line-height: inherit;
    text-transform: inherit;
    color: inherit;
    font-weight: 400;
    background-color: transparent; }
  body.platform-android #nexpaq-header > h1 {
    text-align: left;
    font-size: 20px;
    padding-left: 70px; }
  body.platform-android #nexpaq-header.nxp-back-button-hidden > h1 {
    padding-left: 16px; }
  #nexpaq-header .nxp-btn-back {
    padding: 0 3vw !important;
    line-height: inherit; }
  body:not(.platform-android) #nexpaq-header .nxp-button-back-android,
  body.platform-android #nexpaq-header .nxp-button-back-ios {
    display: none; }
  body.platform-android #nexpaq-header .nxp-btn-back svg {
    margin-top: -4px; }
  #nexpaq-header .npx-button-back-custom {
    display: none; }
  #nexpaq-header.nxp-custom-back-button .npx-button-back-custom {
    display: inline-block; }
  #nexpaq-header.nxp-custom-back-button .nxp-button-back-android,
  #nexpaq-header.nxp-custom-back-button .nxp-button-back-ios {
    display: none; }
  #nexpaq-header .nxp-buttons-container {
    display: inline-block; }
  #nexpaq-header .nxp-buttons-container.nxp-buttons-container--disabled {
    opacity: 0.3;
    pointer-events: none; }
  #nexpaq-header .nxp-buttons-container > button {
    line-height: inherit;
    padding: 0 4vw !important;
    position: relative; }
  body.platform-ios #nexpaq-header .nxp-buttons-container > button {
    color: #EE3696;
    font-size: 17px; }
  #nexpaq-header .nxp-buttons-container > button .nxp-button-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(15%) translateY(-85%);
    padding-right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    min-width: 18px;
    border: 2px solid white;
    border-radius: 9px;
    background-color: #01CF9F;
    font-size: 10px;
    color: white;
    line-height: 1em; }
  #nexpaq-header .nxp-buttons-container > button .nxp-button-number:empty {
    display: none; }
  #nexpaq-header .nxp-buttons-container > button:last-child {
    padding-right: 3vw !important; }
  #nexpaq-header .nxp-btn-back svg,
  #nexpaq-header .nxp-btn-back img,
  #nexpaq-header .nxp-buttons-container > button > svg,
  #nexpaq-header .nxp-buttons-container > button > img {
    vertical-align: middle; }
  #nexpaq-header .nxp-btn-back {
    float: left;
    max-width: 44px; }
  #nexpaq-header.multi-title > h1::after {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    margin-left: 10px;
    border: 4px solid transparent;
    border-width: 5px 4px 0;
    border-top-color: currentColor; }
  #nexpaq-header.multi-title.title-selecting > h1::after {
    border-top: 0;
    border-bottom: 5px solid #606060; }
  #nexpaq-header .nxp-header-titles {
    position: absolute;
    margin: 0;
    font-size: 17px;
    text-align: left;
    color: #606060;
    background-color: white;
    list-style: none;
    padding: 0 0 10px 0;
    width: 100vw;
    height: calc(100vh - 44px);
    margin-left: -3vw; }
    #nexpaq-header .nxp-header-titles li {
      line-height: 45px;
      padding: 0 3vw;
      border-bottom: 1px solid #E4E4E4; }
  #nexpaq-header .title-selecting {
    border-bottom: 1px solid #E4E4E4; }
  #nexpaq-header:not(.title-selecting) .nxp-header-titles {
    display: none; }
